<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MySite</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	{% load static %}
    <link href="{% static 'list/style.css' %}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

{% if form.errors %}
	<p>Please Enter Correct Email Address</p>
{% endif %}

	<div class="container">
		<div class="top">
            <h1 id="title" class="hidden"><span id="logo">Book<span>Buzzz</span></span></h1>
		</div>
		<form method="post" action="">
        {% csrf_token %}
		<div class="login-box animated fadeInUp">
			<div class="box-header">
                <h2>Reset Password</h2>
			</div>
			<label for="email">{{ form.email.label_tag }}</label>
			<br/>
			{{ form.email }}
			<br/>
            <button type="submit">SUBMIT</button>
            <input type="hidden" name="next" value="{{ next }}"/>
		</div>
		</form>
	</div>
</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#email').focus(function() {
		$('label[for="email"]').addClass('selected');
	});
	$('#email').blur(function() {
		$('label[for="email"]').removeClass('selected');
	});
</script>

</html>
