<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MySite</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	{% load static %}
    <link href="{% static 'list/style.css' %}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
{% if validlink %}
{% if form.errors %}
	<p>Passwords do not match. Please try again!!</p>
{% endif %}

	<div class="container">
		<div class="top">
            <h1 id="title" class="hidden"><span id="logo">Book<span>Buzzz</span></span></h1>
		</div>
		<form method="post" action="">
        {% csrf_token %}
		<div class="login-box animated fadeInUp">
			<div class="box-header">
                <h2>Reset Password</h2>
			</div>
			<label for="password1">New Password</label>
			<br/>
			{{ form.new_password1 }}
			<br/>
			<label for="password2">Confirm Password</label>
			<br/>
			{{ form.new_password2 }}
			<br/>
			<button type="submit">Submit</button>
		</div>
		</form>
	</div>

{% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#password1').focus(function() {
		$('label[for="password1"]').addClass('selected');
	});
	$('#password1').blur(function() {
		$('label[for="password1"]').removeClass('selected');
	});
	$('#password2').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password2').blur(function() {
		$('label[for="password2"]').removeClass('selected');
	});
</script>

</html>
